body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.column {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    text-align: center; 
}

.headerText h1 {
    color: #f0a500;
    margin: 10px 0; 
}

.mainBlock {
    margin-top: 10px;
    padding: 20px;
    background-color: #3a3a3a;
    border-radius: 8px;
}

.buttonColumn {
    padding: 12px;
    font-size: 1rem;
    background-color: #565656;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0; 
}

.buttonColumn:hover {
    background-color: #737373;
}

#movingBlock {
    position: absolute;
    top: 75%;
    right: 100%; 
    width: 100px;
    height: 100px;
    background-color: yellow; 
    color: black;
    line-height: 100px; 
    text-align: center; 
    display: none;
}
